body {
    background-color: #141414;
    color: white;
}

#planet-list {
    margin-top: 30px;
    margin-bottom: 50px;
}

#planet-grid {
    max-width: 50%;
}

.grid-cell {
    background-color: grey;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.grid-cell-deposit {
    background-color: green;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    cursor: pointer;
}