body {
    background-color: #141414;
    color: white;
    padding: 20px;
}

.modal {
    color: black;
}

#planet-list {
    margin-top: 30px;
    margin-bottom: 50px;
}

.grid-row {
    justify-content: center;
}

.grid-cell {
    align-self: flex-start;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.grid-cell-no-deposit {
    background-color: grey;
}

.grid-cell-deposit {
    background-color: green;
}